<!doctype html>
<html class="no-js" lang=""s>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Nunjucks 1</h1>
        {% block containter %}

        {% endblock %}
    </body>
</html>
